*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/appInsightsSettings.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/other.xml
/.idea/material_theme_project_new.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
api_keys.xml